@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f5f5f5;
}

p{
    margin: 0;
    font-weight: 300;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-left-color: #000000;
    border-radius: 0%;
}

/*menu*/
.navbar{
    background-color: #10002b;
}
.nav-item{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.select_cad{
    background-color: #240046;
    border-radius: 20px;
}
.nav-item:hover{
    background-color: #240046;
    border-radius: 20px;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: whitesmoke;
}
.navbar-brand{
    color: white;
    font-weight: 900;
}
.navbar-brand:hover{
    color: whitesmoke;
}
.navbar-nav{
    margin: 10px;
    font-size: 16px;
    font-weight: 300;
}

/*login area*/
.btn-login{
    width: 100%;
    background-color: #3c096c;
    color: white;
    border-radius: 2px;
}
.btn-login:hover{
    background-color: #7b2cbf;
    color: whitesmoke;
}
label{
    color: black;
}
.form-control{
    border-radius: 0%;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 550px;
    
}
.flex-item{
    display: block;
    background-color: white;
    padding: 25px;
    max-width: 100%;
    
}

.footer-home{
    background-color: #10002b;
    padding: 25px;
    color: white;
}
.title-login{
    color: black;
}

/*dashboard*/
.area_cont{
    color: black;
}
.linha-black{
    max-width: 50px;
    margin: 0px;
    margin-bottom: 1em;
    border: solid 3px;
    border-color: #7b2cbf;
    background-color: #7b2cbf;
    border-radius: 15px;
}

.card{
    border: none;
}

.area-card-image{
    max-width: 100%;
    width: 100%;
}

.card-img-top{
    width: 65px;
    height: 220px;
    object-fit: cover;
}

.btn-card{
    width: 100%;
    background-color: #e8c2ff;
    color: black;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 10px;
}
.btn-card:hover{
    background-color: #3c096c;
    color: whitesmoke;
}
.badge-hire{
    background-color: #9d4edd;
    color: white;
    float: right;
    margin-bottom: 10px;
    font-weight: 300;
}
.prop-card{
    margin-top: 5px;
    font-size: 15px;
}

/*carousel*/
.owl-carousel .owl-stage-outer{
    padding: 25px;
}

/*buscar area*/
.btn-search{
    background-color: #7b2cbf;
    color: white;
    border-radius: 0%;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
    height: auto;
}
.input-buscar{
    border: none;
}

/*criar anuncio*/
.back-forms{
    background-color: white;
    padding: 25px;
}

.btn-anunciar{
    background-color: #e8c2ff;
    color: black;
    border-radius: 2px;
    max-width: 100%;
    width: 15%;
}
.btn-anunciar:hover{
    background-color: #3c096c;
    color: white;
}

.box-infor{
    margin: 10px;
}

/*area anuncio*/
.title-area-anuncio{
    font-weight: 700;
}

.btn-wpp{
    background: #e8c2ff;
    border-radius: 2px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}
.btn-wpp:hover{
    color: white;
    background: #3c096c;
}

.area-valor{
    background: white;
    
}

.imagem-fachada{
    background: white;
    max-width: 100%;
    width: 100%;
    
    
}

.img-fachada{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

.badge-visi{
    background-color: #7209b7;
    color: white;
}

.linha-area{
    max-width: 50px;
    margin: 0px;
    margin-bottom: 1em;
    border: solid 3px;
    border-color: #f5f5f5;
    background-color: #f5f5f5;
    border-radius: 15px;
}

/*modal*/

